.dg-services {
  background-color: var(--color-porcelain);

  &--light {
    background-color: var(--color-light);
  }

  &__container {
    display: flex;
    justify-content: space-around;
  }

  &__title {
    margin-bottom: 50px;

    &--left {
      text-align: left;
    }
  }

  &__picture {
    padding-left: 105px;
  }

  &__content {
    padding-left: 30px;
    max-width: 705px;
    //width: 100%;
  }

  &__descr {
    margin-bottom: 50px;
    line-height: 30px;
  }

  &__link-container {
    display: flex;
    margin-bottom: 50px;

    &--services {
      margin-bottom: 120px;
    }
  }

  .dg-services__link:not(:last-child) {
    margin-right: 30px;
  }

  &__cabinet-title {
    margin-bottom: 25px;
    font-weight: 500;
    font-size: 16px;
    line-height: 17px;
    text-transform: uppercase;
    color: var(--color-corduroy);
  }

  &__cabinet-link {
    display: inline-block;
    margin-bottom: 80px;
    text-transform: uppercase;

    @extend %btn;
  }

  &__qr-codes {
    display: flex;
    justify-content: space-between;
  }

  &__qr {
    position: relative;
    border-radius: 16px;
    width: 336px;
    height: 314px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.12);
    background-color: var(--color-light);
  }

  .dg-services__qr:not(:last-child) {
    margin-right: 30px;
  }

  &__img {
    width: 158px;
    height: 48px;
  }

  &__qr-img {
    position: absolute;
    left: 0;
    right: 0;
    top: calc(50% - 120px);
    margin: 0 auto;
    width: 248px;
    height: 240px;
  }

  &__qr-text {
    top: 50px;
    border-radius: 8px;
    width: 228px;
    height: 35px;
    background-color: #004b74;
    transform: translate(54px, -17px);
  }

  &__qr-descr {
    padding-top: 7px;
    text-align: center;
    color: var(--color-light);
  }

  &__label {
    @include flex-all-sb;

    border-radius: 16px;
    padding: 20px 24px;
    width: 352px;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.30);
    background-color: var(--color-light);
  }

  &__label-svg {
    margin-right: 24px;
    width: 48px;
    height: 48px;
  }

  &__label-descr {
    width: 236px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: var(--color-metal);
  }

  &__picture-wrap {
    position: relative;
    margin-right: 50px;
  }

  &__label-orange {
    position: absolute;
    right: -60px;
    top: 100px;
  }

  &__label-blue {
    position: absolute;
    left: 50px;
    bottom: 270px;
  }
}
