.hero-page {
  position: relative;
  margin-top: 55px;
  margin-bottom: 0;
  padding-top: 0;
  height: calc(75vh - 90px);
  min-height: 40rem;
  color: var(--color-light);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--color-oslo);

  &::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
  }

  &__container {
    position: absolute;
    left: 0;
    bottom: 6rem;
    border-radius: 0 9rem 9rem 0;
    padding: 4rem 6rem 4rem 4rem;
    background: rgba(72, 172, 50, 80%);
  }

  .page-title {
    @extend %page-h1;
  }

  &--contract-for-home {
    background-image: url("../img/hero-contract.jpg");
  }

  &--faq-for-home {
    background-image: url("../img/hero-faq-for-home.jpg");
  }

  &--pricing-for-home {
    background-image: url("../img/hero-pricing-for-home.jpg");
  }

  &--payment-electr-home {
    background-image: url("../img/hero-payment-electr-home.jpg");
  }

  &--transmission-el-meter-home {
    background-image: url("../img/hero-transmission-el-meter-home.jpg");
  }

  &--green-home {
    background-image: url("../img/hero-green-home.jpg");
  }

  &--power-recovery {
    background-image: url("../img/hero-power-recovery.jpg");
  }

  &--cabinet-home {
    background-image: url("../img/hero-cabinet-home.jpg");
  }

  &--mobile-app {
    background-image: url("../img/hero-mobile-app.jpg");
  }

  &--electrical-safety {
    background-image: url("../img/hero-electrical-safety.jpg");
  }

  &--energy-efficiency {
    background-image: url("../img/hero-energy-efficiency.jpg");
  }

  &--about-company {
    background-image: url("../img/hero-about-company.jpg");
  }

  &--gas-regulation-for-home {
    background-image: url("../img/hero-gas-regulation-for-home.jpg");
  }

  &--call-centre {
    background-image: url("../img/hero-call-centre.jpg");
  }

  &--contacts-osr {
    background-image: url("../img/hero-contacts-osr.jpg");
  }
}
