.small-download {
  padding-top: 105px;
  background-color: var(--color-light);

  &__wrap {
    display: flex;
    justify-content: space-between;
  }

  &__container {
    border-radius: 8px;
    padding: 40px;
    width: 100%;
    max-width: 704px;
    background-color: var(--color-porcelain);
  }

  &__container--light {
    background-color: var(--color-light);
    padding: 40px 0;
  }

  &__item {
    margin-bottom: 25px;
    padding: 0 0 0 1.75rem;
    line-height: 30px;
    background: url("../img/icons/list-bullet/green-arrow-marker.svg") no-repeat left 6px;
  }
}
