.small-download {
  padding-top: 105px;
  background-color: var(--color-light);

  &__wrap {
    display: flex;
    align-items: start;
    justify-content: space-between;
  }

  &__container {
    border-radius: 8px;
    padding: 40px;
    width: 100%;
    max-width: 704px;
    background-color: var(--color-porcelain);
  }

  .small-download__container:not(:last-child) {
    margin-right: 10px;
  }

  &__container--light {
    padding: 40px 15px;
    background-color: var(--color-light);
  }
       
  &__title-wrap {
    max-width: 580px;
  }

  &__title--mini {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.4;
    color: var(--color-metal);
  }

  &__item {
    margin-bottom: 25px;
    padding: 0 0 0 1.75rem;
    line-height: 30px;
    background: url("../img/icons/list-bullet/green-arrow-marker.svg") no-repeat left 6px;
  }
}
