
    <section class="green-info info">
      <div class="container info__content info__content--reverse">

        <div class="info__picture">
          <img src="img/about-company-info.jpg"
            alt="Ми задовольняємо Ваші потреби в електроенергії та газі максимально швидко та комфортно">
        </div>
        <div class="info__info">
          <h2 class="info__title ">ТОВ “Кіровоградська обласна енергопостачальна компанія”</h2>
          <p>
            <span>
              Ми постачаємо електроенергію та газ, як  фізичним, так і юридичним особам.
            </span>
          </p>
          <p>Компанія була створена внаслідок відокремлення діяльності з постачання електроенергії від Кіровоградобленерго та є єдиним та ексклюзивним постачальником електричної енергії споживачам на умовах “універсальної послуги” на території Кіровоградської області.
          </p>

          <p>Ми не просто продаємо Вам електроенергію та газ для Вашої оселі чи бізнесу, ми продаємо Вам Ваш особистий час, який раніше Ви витрачали на вирішення проблем енергопостачання!
          </p>

        </div>
      </div>
    </section>
