<section class="about-company-bosses">
  <div class="container">
    <div class="about-company-bosses__wrap">

      <div class="small-download__container">
        <h3>
          Установчі документи
        </h3>
        <ul class="small-download__list">
          <li class="small-download__item">
            <a class="small-download__link" href="#" download>
              Виписка з Єдиного державного реєстру юридичних осіб
            </a>
          </li>
          <li class="small-download__item">
            <a class="small-download__link" href="#" download>
              Витяг з реєстру платників податку на додану вартість
            </a>
          </li>
          <li class="small-download__item">
            <a class="small-download__link" href="#" download>
              Ліцензія на право провадження господарської діяльності з постачання електричної енергії споживачу
            </a>
          </li>
          <li class="small-download__item">
            <a class="small-download__link" href="#" download>
              Ліцензія з постачання природного газу
            </a>
          </li>
        </ul>
      </div>

      <div class="about-company-bosses__container">
        <h3 class="about-company-bosses__title">
          Керівництво
        </h3>

        <blockquote class="about-company-bosses__blockquote">
          <img class="about-company-bosses__blockquote-img" src="img/avatar-boss.jpg" alt="Аватар керівника" width="144"
          height="144">
          <cite class="about-company-bosses__blockquote-person">Валентий Олег Миколайович</cite>
          Директор
        </blockquote>

      </div>
    </div>
  </div>
</section>
