<section class="cabinet-info info">
  <div class="container info__content info__content--reverse">

    <div class="info__picture">
      <img src="img/cabinet-info.jpg"
        alt="Ми задовольняємо Ваші потреби в електроенергії та газі максимально швидко та комфортно">
    </div>
    <div class="info__info">

      <div class="info__info-content">
        <h2 class="info__title ">Особистий кабінет</h2>
        <p>Досить стояти в чергах та витрачати свій особистий час, який Ви можете провести зі своєю родиною!
        </p>

        <p>Зареєструйтеся в персональному кабінеті та контролюйте свій особовий рахунок не виходячи з дому!
        </p>
      </div>

      <a class="info__link" href="#">Зареєструватися</a>

    </div>
  </div>
</section>
