<section class="cabinet-scope">
  <div class="container">
    <h2 class="title cabinet-scope__title">Ваші можливості в особистому кабінеті</h2>

    <ul class="list-reset cabinet-scope__list">
      <li class="cabinet-scope__item cabinet-scope__item--add-account">
        <p class="cabinet-scope__descr">
          Можливість додавати необмежену кількість особових рахунків
        </p>
      </li>
      <li class="cabinet-scope__item cabinet-scope__item--online-payment">
        <p class="cabinet-scope__descr">
          Оплата за електроенергію онлайн та миттєве зарахування коштів на особовий рахунок

        </p>
      </li>
      <li class="cabinet-scope__item cabinet-scope__item--show-balance">
        <p class="cabinet-scope__descr">
          Відображення поточного балансу на особовому рахунку
        </p>
      </li>
      <li class="cabinet-scope__item cabinet-scope__item--show-meter">
        <p class="cabinet-scope__descr">
          Графічне відображення нарахованих кВ*год та коштів

        </p>
      </li>
      <li class="cabinet-scope__item cabinet-scope__item--show-history">
        <p class="cabinet-scope__descr">
          Відображення історії оплат
        </p>
      </li>
      </li>
      <li class="cabinet-scope__item cabinet-scope__item--create-bill">
        <p class="cabinet-scope__descr">
          Можливість формувати та завантажувати рахунки для оплати
        </p>
      </li>
      </li>
      <li class="cabinet-scope__item cabinet-scope__item--online-revise">
        <p class="cabinet-scope__descr">
          Можливість провести звірку розрахунків онлайн
        </p>
      </li>
    </ul>

    <div class="cabinet-scope__link-wrap">
      <a class="btn cabinet-scope__link" href="#">Скористатися можливостями</a>
    </div>

  </div>
</section>
