<section class="cabinet-info">
  <div class="container cabinet-info__content cabinet-info__content--reverse">

    <div class="cabinet-info__picture">
      <img src="img/cabinet-info.jpg"
        alt="Ми задовольняємо Ваші потреби в електроенергії та газі максимально швидко та комфортно">
    </div>
    <div class="cabinet-info__info">

      <div class="cabinet-info__info-content">
        <h2 class="cabinet-info__title ">Особистий кабінет</h2>
        <p>Досить стояти в чергах та витрачати свій особистий час, який Ви можете провести зі своєю родиною!
        </p>

        <p>Зареєструйтеся в персональному кабінеті та контролюйте свій особовий рахунок не виходячи з дому!
        </p>
      </div>

      <a class="cabinet-info__link" href="#">Зареєструватися</a>

    </div>
  </div>
</section>
