<section class="call-centre-about">
  <div class="container">

    <h2 class="call-centre-about__title">Кол–центр</h2>

    <p class="call-centre-about__descr">Кол-центр Кіровоградської обласної енергопостачальної компанії радо надасть
      відповіді з наступних питань
    </p>

    <div class="call-centre-about__wrap">

      <div class="call-centre-about__content">
        <ul class="simple-list">
          <li>про останні зафіксовані показники обліку споживача;</li>
          <li>щодо стану розрахунків за спожиту електроенергію;</li>
          <li>щодо договору про постачання електроенергії;</li>
          <li>про відключення за несплату рахунків;</li>
          <li>про виставлення рахунків;</li>
          <li>щодо ціни на послугу;</li>
          <li>про зміну постачальника;</li>
        </ul>
      </div>

      <div class="call-centre-about__content">
        <ul class="simple-list">
          <li>щодо відшкодування/компенсації (відшкодування завданих збитків,
            компенсація за недотримання гарантованих стандартів якості послуг);</li>
          <li>питання пільг, субсидій;</li>
          <li>щодо можливості отримання інформації альтернативним способом
            з урахуванням особливих потреб споживача;</li>
          <li>інша довідкова інформація.</li>
        </ul>
      </div>

    </div>

  </div>
</section>
