<section class="contract">
  <div class="container ">
    <h2>Укласти договір для побутових клієнтів</h2>

    <div class="contract__wrap">

      <div class="list-container">
        <p>
          Для укладення договору про постачання електроенергії необхідні наступні документи:
        </p>
        <ul class="list-nomber">
          <li class="list-nomber__item list-nomber__item--one">
            Заповнена заява–приєднання до <a href="#">договору про постачання</a>
          </li>
          <li class="list-nomber__item list-nomber__item--two">
            Паспорт точки розподілу <span>є додатком до договору про розподіл електроенергії з Вашим <a
                href="#">оператором
                системи розподілу </a> </span>
          </li>
          <li class="list-nomber__item list-nomber__item--three">
            Паспорт громадянина України
          </li>
          <li class="list-nomber__item list-nomber__item--four">
            Довідка про присвоєння ідентифікаційного номера
          </li>
          <li class="list-nomber__item list-nomber__item--five">
            Документ про право власності (користування) об’єктом
          </li>
        </ul>
      </div>

      <div class="info-gray">
        <div class="info-gray__container">
          <p>
            У випадку укладення договору на електропостачання будівельного майданчика (домоволодіння, що в стадії
            будівництва та не введено в експлуатацію), додатково необхідно надати:
          </p>
          <ul class="simple-list">
            <li>
              декларацію (повідомлення) про початок виконання будівельних робіт або дозволу на виконання будівельних
              робіт
            </li>
          </ul>
          <p>
            У випадку укладення договору на електропостачання новозбудованого (чи реконструйованого) об’єкта,
            додатково необхідно надати:
          <ul class="simple-list">
            <li>
              декларацію (сертифікат) про готовність об’єкта до експлуатації
            </li>
          </ul>
          <p>
            У випадку, якщо договір про електропостачання укладається на об’єкт, що перебуває у власності
            (користуванні) кількох осіб, додатково необхідно надати:
          </p>
          <ul class="simple-list">
            <li>
              письмову згоду всіх співвласників (користувачів) об’єкту (приміщення) на укладення договору з одним із
              співвласників (користувачів)
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
