<section class="contacts-osr">
  <div class="container-1200">
    <h2 class="contacts-osr__title">
      Оператори системи розподілу
    </h2>
    <ul class="contacts-osr__list">
      <li class="contacts-osr__item">
        <div class="contacts-osr__wrap">
          <a class="contacts-osr__address contacts-osr__address--kiroe"  href="https://kiroe.com.ua" target="_blank">
            <span class="contacts-osr__address-descr">ПрАТ «Кіровоградобленерго»</span>
            <span class="contacts-osr__address-map">м. Кропивницький, Студентський бульвар, 15</span>
          </a>
          <div class="contacts-osr__contacs">
            <a class="contacts-osr__contact-link" href="https://kiroe.com.ua" target="_blank">https://kiroe.com.ua</a>
            <a class="contacts-osr__contact-phone" href="tel:0800501148">Кол-центр: <span>0-800-501-148</span></a>
          </div>
        </div>
      </li>
      <li class="contacts-osr__item">
        <div class="contacts-osr__wrap">
          <a class="contacts-osr__address contacts-osr__address--poe"  href="https://www.poe.pl.ua" target="_blank">
            <span class="contacts-osr__address-descr">АТ «Полтаваобленерго»</span>
            <span class="contacts-osr__address-map">м. Полтава, вул. Старий Поділ, 5</span>
          </a>
          <div class="contacts-osr__contacs">
            <a class="contacts-osr__contact-link" href="https://www.poe.pl.ua" target="_blank">https://www.poe.pl.ua</a>
            <a class="contacts-osr__contact-phone" href="tel:0800501148">Кол-центр: <span>0-800-501-148</span></a>
          </div>
        </div>
      </li>
      <li class="contacts-osr__item">
        <div class="contacts-osr__wrap">
          <a class="contacts-osr__address contacts-osr__address--odz"  href="https://www.odz.gov.ua/electric/" target="_blank">
            <span class="contacts-osr__address-descr">Регіональна філія «Одеська залізниця» АТ «Укрзалізниця»</span>
            <span class="contacts-osr__address-map">м. Одеса, вул. Пантелеймонівська, 19</span>
          </a>
          <div class="contacts-osr__contacs">
            <a class="contacts-osr__contact-link" href="https://www.odz.gov.ua/electric/" target="_blank">https://www.odz.gov.ua/electric</a>

          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
