<section class="dg-services">
  <div class="container">

    <h2 class="dg-services__title">Онлайн сервіси</h2>

    <div class="dg-services__container">

      <div class="dg-services__picture">
        <img src="img/dg-services/iPhone.png" alt="зображення додатку" width="377" height="734">
      </div>

      <div class="dg-services__content">
        <p class="dg-services__descr">З допомогою наших онлайн сервісів Ви можете контролювати стан особового
          рахунку, передавати показники, оплачувати за спожиту електроенергію, укладати договори та отримувати акти
          звірки
        </p>

        <div class="dg-services__link-container">
          <a class="dg-services__link dg-services__link--google" href="#">
            <img class="dg-services__img" src="img/dg-services/google_play.svg"
              alt="посилання на google play">
          </a>
          <a class="dg-services__link dg-services__link--aple" href="#">
            <img class="dg-services__img" src="img/dg-services/app_store.svg"
              alt="посилання на app store">
          </a>
        </div>

        <h3 class="dg-services__cabinet-title">Ваш особистий кабінет</h3>

        <a class="dg-services__cabinet-link" href="#">Cтворити особистий запис</a>

        <div class="dg-services__qr-codes">
          <div class="dg-services__bot">
            <div class="dg-services__qr">
              <img class="dg-services__qr-img" src="img/dg-services/qr-telegram.svg" alt="qr код telegram боту">
            </div>
            <div class="dg-services__qr-text">
              <p class="dg-services__qr-descr">Telegram бот</p>
            </div>
          </div>
          <div class="dg-services__bot">
            <div class="dg-services__qr">
              <img class="dg-services__qr-img" src="img/dg-services/qr-viber.svg" alt="qr код viber боту">
            </div>
            <div class="dg-services__qr-text">
              <p class="dg-services__qr-descr">Viber бот</p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
