<section class="electrical-safety-attention">
  <div class="container">
    <div class="electrical-safety-attention__container">
      <div class="electrical-safety-attention__wrap">
        <h2 class="electrical-safety-attention__title">
          УВАГА!
        </h2>
        <p class="electrical-safety-attention__descr">
          Якщо людина потрапила під напругу не доторкайтесь до неї руками а швидко вимкніть електроустановку (вимикачем, рубильником, чи перерубайте провід сокирою, лопатою з сухим дерев’яним держаком), відтягніть потерпілого за сухий одяг, що відстає від тіла. Після цього, необхідно негайно розпочати надавати першу допомогу (штучне дихання, зупинити кров, накласти шину) і викликати лікаря! Всупереч поширеній думці, забороняється закопувати потерпілого в землю так як ці дії не принесуть користі, це лише може привести до загибелі потерпілого.
        </p>
        <p class="electrical-safety-attention__descr-bold">
          Ваше життя та здоров’я дуже важливі! Будьте обережні!
        </p>
      </div>
    </div>
  </div>
</section>
