<section class="safety-rules">
  <div class="container">
    <div class="safety-rules__title-container">
      <h2 class="safety-rules__title">
        Правила електробезпеки в побуті
      </h2>
    </div>
    <div class="safety-rules__list-wrap warning">
      <ul class="warning__list">
        <li class="warning__item">Перед тим, як підключити новий електроприлад до мережі, уважно вивчіть інструкцію, що додається до нього.</li>
        <li class="warning__item">Якщо у корпусі електроприладу при вмиканні виникає іскріння, користуватися ним забороняється.</li>
        <li class="warning__item">Під час заміни несправних ламп у світильниках забороняється використовувати лампи більшої потужності, ніж та, на яку розрахований прилад.</li>
        <li class="warning__item">Не торкайтеся вологими руками електроприладів, підключених до мережі, а також розеток, цоколів лампочок та ін.</li>
        <li class="warning__item">Забороняється висмикувати штепсельну вилку з розетки за провід.</li>
      </ul>
      <ul class="warning__list">
        <li class="warning__item">Не можна торкатися руками оголених кінців електричного проводу.</li>
        <li class="warning__item">Не використовуйте саморобні «жучки» для захисту електропроводки від коротких замикань - використовуйте сертифіковані запобіжники.</li>
        <li class="warning__item">Прийміть заходи для того щоб виключити можливість доступу дітей до електроприладів.
          Відкриті розетки краще обладнати спеціальними заглушками.</li>
        <li class="warning__item">Якщо розетка чи електричний дріт зайнялися, не можна заливати їх водою. В такій ситуації слід вимкнути запобіжники та відключити електричний струм, після чого необхідно загасити пожежу вуглекислотним вогнегасником, землею, піском чи брезентом.</li>
      </ul>
    </div>
  </div>
</section>
