<section class="electrical-safety-info info">
  <div class="container info__content">

    <div class="info__picture info__picture-not-reverse">
      <img src="img/safety-info.jpg"
        alt="Ми задовольняємо Ваші потреби в електроенергії та газі максимально швидко та комфортно">
    </div>
    <div class="info__info info__info-not-reverse">
      <h2 class="info__title ">Електробезпека</h2>
      <p>Сучасний рівень комфорту неможливий без використання електричної енергії в наших домівках, що у свою чергу вимагає постійної уваги щодо безпечного використання електроприладів й засобів захисту.</p>

      <p>Якщо ви помітили обірвані дроти на лініях електропередач або відкриту трансформаторну підстанцію, побачили роботи по демонтажу ліній електропередач або обладнання трансформаторної підстанції, особами, що не є працівниками енергопостачальної/енергорозподільчої компанії (це легко розпізнати по спецодягу) – негайно повідомте про це в поліцію (номер телефону 102), сільську раду або зателефонуйте відповідному оператору системи розподілу.
      </p>

    </div>
  </div>
</section>
