<section class="energy-efficiency-partners">
  <div class="container">
    <div class="energy-efficiency-partners__title-container">
      <h2 class="energy-efficiency-partners__title">
        Партнери КОЕК по програмі “Енергоефективність”
      </h2>
    </div>


  <ul class="energy-efficiency-partners__list">
    <li class="energy-efficiency-partners__item">

      <div class="energy-efficiency-partners__wrap energy-efficiency-partners__wrap-border">
        <a href="https://imperiiasvitla.ua/" class="energy-efficiency-partners__logo">
          <img src="../img/svg/empire-of-light.svg" alt="#" class="energy-efficiency-partners__logo" width="334px"
            height="334px">
        </a>

        <div class="energy-efficiency-partners__content">
          <h3 class="energy-efficiency-partners__content-title">Салон світлотехніки «Імперія Світла»</h3>
            <p class="energy-efficiency-partners__descr">
              Важко уявити собі енергозбереження свого помешкання, без сучасного освітлення. Наш партнер за програмою
              «Енергоефективність пропонує широкий вибір побутового та промислового світлового та електрообладнання, а
              також є <span>офіційним дилером з продажу електролічильників NIK</span> (в тому числі і багатотарифних, що дозволяють
              вночі споживати електроенергію в 2 рази дешевше).
            </p>
            <p class="energy-efficiency-partners__descr">
              Згідно партнерської програми салон надає знижку 10% клієнтам нашої компанії. Для отримання знижки, необхідно
              при покупці пред’явити відповідний флаєр (можна знайти в Центрах обслуговування споживачів ТОВ
              «Кіровоградська обласна ЕК»). А також можна отримати знижку 10% при покупці в інтернет-магазині
              <a href="https://imperiiasvitla.ua/"> https://imperiiasvitla.ua/</a> , застосувавши промокод <span>1234560098682</span>
            </p>
        </div>
      </div>
    </li>

    <li class="energy-efficiency-partners__item">
      <div class="energy-efficiency-partners__wrap">
        <a href="https://imperiiasvitla.ua/" class="energy-efficiency-partners__logo">
          <img src="../img/svg/sp-smart-home.svg" alt="#" class="energy-efficiency-partners__logo" width="334px"
            height="334px">
        </a>

        <div class="energy-efficiency-partners__content">
          <h3 class="energy-efficiency-partners__content-title">СП «Розумний дім»</h3>
          <p class="energy-efficiency-partners__descr">
            Коли надворі холодно, проблему опалення Вашого помешкання чи офісу вирішать енергозберігаючі електричні обігрівачі марки UDEN-S. UDEN-S – це електричні малопотужні панелі, що використовуються для основного або додаткового опалення. Наш партнер СП «Розумний дім» є офіційним представником заводу-виробника електричних обігрівачів UDEN-S.
          </p>
          <p class="energy-efficiency-partners__descr">
            Також наш партнер надає послуги з проектування електроопалення та внутрішньобудинкових мереж, як житлових квартир і будинків, так і комерційної нерухомості та соціальної сфери.
          </p>
          <p class="energy-efficiency-partners__descr">
            Згідно партнерської програми СП «Розумний дім» надає знижку 5% клієнтам нашої компанії. Для отримання знижки, необхідно при покупці товару та/або замовлені послуги пред’явити відповідний флаєр (можна знайти в Центрах обслуговування споживачів ТОВ «Кіровоградська обласна ЕК»).
          </p>
        </div>
      </div>
    </li>
  </ul>

  <a href="https://kiroe.com.ua/" class="energy-efficiency-partners__link">Економте разом з Кіровоградською обласною енергопостачальною компанією!</a>

</div>
</section>
