<section class="energy-efficiency-scope">
  <div class="container">
    <div class="energy-efficiency-scope__title-container">
      <h2 class="energy-efficiency-scope__title">
        Що допомагає зекономити електроенергію вдома?
      </h2>
    </div>
    <ul class="list-reset energy-efficiency-scope__list">
      <li class="energy-efficiency-scope__item energy-efficiency-scope__item--lamp-led">
        <p class="energy-efficiency-scope__descr">
          Використовуйте світлодіодні лампи (LED) — економія до 75%
        </p>
      </li>
      <li class="energy-efficiency-scope__item energy-efficiency-scope__item--warming-home">
        <p class="energy-efficiency-scope__descr">
          Утеплюйте помешкання (дах, вікна, стіни) — економія до 50%
        </p>
      </li>
      <li class="energy-efficiency-scope__item energy-efficiency-scope__item--appliances-a-class">
        <p class="energy-efficiency-scope__descr">
          Купуючи нову технiку, обирайте клас енергозбереження «А», «А+» — холодильник класу «А» економить до 35% енергії
        </p>
      </li>
      <li class="energy-efficiency-scope__item energy-efficiency-scope__item--two-tarif-meter">
        <p class="energy-efficiency-scope__descr">
          Поставте двотарифний лічильник — вночі споживання електроенергії дешевше в 2 рази
        </p>
      </li>
      <li class="energy-efficiency-scope__item energy-efficiency-scope__item--turn-off-light">
        <p class="energy-efficiency-scope__descr">
          Вимикайте світло, якщо ніхто не знаходиться у кімнаті — освітлення займає 30% від загального споживання електроенергії
        </p>
      </li>
      <li class="energy-efficiency-scope__item energy-efficiency-scope__item--close-doors">
        <p class="energy-efficiency-scope__descr">
          Не залишайте відчиненими двері в будинок — знизьте загальні теплові втрати будинку на 5-15%
        </p>
      </li>
    </ul>
  </div>
</section>
