<section class="energy-efficiency-info info">
  <div class="container info__content">

    <div class="info__picture info__picture-not-reverse">
      <img src="img/energy-efficiency-info.jpg"
        alt="Ми задовольняємо Ваші потреби в електроенергії та газі максимально швидко та комфортно">
    </div>
    <div class="info__info info__info-not-reverse">
      <h2 class="info__title ">Енергоефективність</h2>
      <p>Енергоефективність, це не тільки про відповідальне ставлення до енергетичної безпеки країни та екології планети, але й про зниження Ваших фінансових витрат та економічну безпеку Вашої родини.</p>
    </div>
  </div>
</section>
