<footer class="footer">
  <div class="container">

    <div class="footer-top">

      <div class="footer-top__wrap">

        <div class="footer-top__contacts">
          <a class="logo-footer" href="#">
            <img class="logo-footer__img" src="img/svg/logo-footer.svg"
              alt="Сайт Кіровоградської областної енергопостачальної компанії" </a>
            <div class="footer-top__adress">Україна, м. Кропивницький, вул. Велика Перспективна, 78</div>
            <div class="footer-top__schedule">
              <h6 class="footer-top__title">Графік роботи</h6>
              <span class="footer-top__time">пн – чт: з 08:00 до 17:15</span>
              <span class="footer-top__time">пт: з 08:00 до 16:00</span>
            </div>

            <div class="footer-top__call">
              <h6 class="footer-top__title">Колл–центр</h6>
              <a class="footer-top__phone" href="tel:+0522305300">0522305300</a>
              <a class="footer-top__phone" href="tel:+0673505544">(067) 350 55 44</a>
            </div>

            <div class="footer-top__sertificate">Компанія сертифікована за стандартом ISO 9001:2015</div>

        </div>
        <div class="footer-top__wrap-nav">
          <div class="footer-top__nav">
            <div class="footer-top__items">
              <h6 class="footer-top__title footer-top__title--nav">компанія</h6>
              <ul class="footer-top__list">
                <li class="footer-top__item"><a class="foter-top__link" href="#">Головна</a></li>
                <li class="footer-top__item"><a class="foter-top__link" href="#">Енергоефективність</a></li>
                <li class="footer-top__item"><a class="foter-top__link" href="#">Про компанію</a></li>
                <li class="footer-top__item"><a class="foter-top__link" href="#">Новини</a></li>
                <li class="footer-top__item"><a class="foter-top__link" href="#">Контакти</a></li>
              </ul>
            </div>
            <div class="footer-top__items">
              <h6 class="footer-top__title footer-top__title--nav">електроенергия</h6>
              <ul class="footer-top__list">
                <li class="footer-top__item"><a class="foter-top__link" href="#">Укласти договір</a></li>
                <li class="footer-top__item"><a class="foter-top__link" href="#">Тарифи</a></li>
                <li class="footer-top__item"><a class="foter-top__link" href="#">Оплата</a></li>
                <li class="footer-top__item"><a class="foter-top__link" href="#">Передати показники</a></li>
                <li class="footer-top__item"><a class="foter-top__link" href="#">"Зелена" енергія</a></li>
                <li class="footer-top__item"><a class="foter-top__link" href="#">Про ринок електроенергії</a></li>
              </ul>
            </div>
            <div class="footer-top__items">
              <h6 class="footer-top__title footer-top__title--nav">газ</h6>
              <ul class="footer-top__list">
                <li class="footer-top__item"><a class="foter-top__link" href="#">Споживачам</a></li>
                <li class="footer-top__item"><a class="foter-top__link" href="#">Нормативні документи</a></li>
              </ul>
            </div>
            <div class="footer-top__items">
              <h6 class="footer-top__title footer-top__title--nav">підтримка клієнтів</h6>
              <ul class="footer-top__list">
                <li class="footer-top__item"><a class="foter-top__link" href="#">Часті питання</a></li>
                <li class="footer-top__item"><a class="foter-top__link" href="#">Особистий кабінет</a></li>
                <li class="footer-top__item"><a class="foter-top__link" href="#">Мобільний додаток</a></li>
                <li class="footer-top__item"><a class="foter-top__link" href="#">Адреси ЦОС</a></li>
                <li class="footer-top__item"><a class="foter-top__link" href="#">Кол-Центр</a></li>
                <li class="footer-top__item"><a class="foter-top__link" href="#">Електробезпека</a></li>
              </ul>
            </div>

          </div>
          <a class="footer-top__business-link" href="#">Перейти на сторінку для бізнесу</a>
        </div>
      </div>
    </div>
    <div class="footer-bootom">
      <p>©<span id="current-year">2022</span> ТОВ "КОЕК" | Всi права захищени</p>
    </div>
  </div>
</footer>
