<section class="gas-for-consumers">
  <div class="gas-for-consumers__cabinet">
    <from class="gas-for-consumers__cabinet-form form">
      <h2 class="form__title form__title--center">Постачання газу</h2>
      <h3 class="form__sub-title">Особистий кабінет</h3>

      <div class="form__name">
        <input class="form__inlet" id="login" type="text" name="Логін" placeholder="Логін" required>
      </div>

      <div class="form__name">
        <input class="form__inlet" id="password" type="password" name="Пароль" placeholder="Пароль" required>
      </div>

      <button class="btn-reset form__btn--wide" type="submit">
        Увійти
      </button>

    </from>
  </div>

  <div class="gas-for-consumers__documents">

  </div>
</section>
