<section class="gas-for-consumers">
  <div class="gas-for-consumers__cabinet gas-for-consumers__child">
    <div class="gas-for-consumers__cabinet-form">
      <from class="form">
        <h2 class="title gas-for-consumers__cabinet-title">Постачання газу</h2>
        <h3 class="form__sub-title">Особистий кабінет</h3>

        <div class="form__name">
          <input class="form__inlet" id="login" type="text" name="Логін" placeholder="Логін" required>
        </div>

        <div class="form__name">
          <input class="form__inlet" id="password" type="password" name="Пароль" placeholder="Пароль" required>
        </div>

        <button class="btn-reset form__btn--wide" type="submit">
          Увійти
        </button>
      </from>
    </div>
  </div>

  <div class="gas-for-consumers__documents gas-for-consumers__child">
    <div class="gas-for-consumers__documents-container small-download__container small-download__container--wide865">
      <ul class="gas-for-consumers__documents-list small-download__list">
        <li class="small-download__item">
          <a class="small-download__link" href="#" download>
            Договір про постачання природного газу побутовим споживачам
          </a>
        </li>
        <li class="small-download__item">
          <a class="small-download__link" href="#" download>
            Заява–приєднання до договору
          </a>
        </li>
        <li class="small-download__item">
          <a class="small-download__link" href="#" download>
            Перелік документів, необхідних для укладання договору
          </a>
        </li>
        <li class="small-download__item">
          <a class="small-download__link" href="#" download>
            Загальні умови постачання природного газу, права та обов'язки постачальника та споживача
          </a>
        </li>
        <li class="small-download__item">
          <a class="small-download__link" href="#" download>
            Інформація про Центри прийому та обслуговування споживачів
          </a>
        </li>
        <li class="small-download__item">
          <a class="small-download__link" href="#" download>
            Порядок досудового вирішення спорів з постачальником
          </a>
        </li>
      </ul>

      <p class="gas-for-consumers__prise gas-for-consumers__prise--uppercase">Ціна на газ з урахуванням ПДВ</p>
      <p class="gas-for-consumers__prise"><span>8,94</span> грн/м³</p>

    </div>
  </div>
</section>
