<section class="gas-regulation-documents">
  <div class="container">

    <h2 class="title price-arch__title">Нормативні документи</h2>

    <ul class="small-download__wrap">

      <li class="small-download__container small-download__container--light">
        <ul class="small-download__list">
          <li class="small-download__item">
            <a class="small-download__link" href="#" download>
              Закон України «Про ринок природного газу»
            </a>
          </li>
          <li class="small-download__item">
            <a class="small-download__link" href="#" download>
              Постанова НКРЕКП «Про затвердження Правил постачання природного газу»
            </a>
          </li>
          <li class="small-download__item">
            <a class="small-download__link" href="#" download>
              Постанова НКРЕКП «Про затвердження Типового договору постачання природного газу побутовим споживачам»
            </a>
          </li>          <li class="small-download__item">
            <a class="small-download__link" href="#" download>
              Постанова НКРЕКП «Про затвердження Кодексу газотранспортної системи»
            </a>
          </li>
        </ul>
      </li>

      <li class="small-download__container small-download__container--light">
        <ul class="small-download__list">
          <li class="small-download__item">
            <a class="small-download__link" href="#" download>
              Постанова НКРЕКП «Мінімальні стандарти та вимоги до якості обслуговування споживачів та постачання природного газу»
            </a>
          </li>
          <li class="small-download__item">
            <a class="small-download__link" href="#" download>
              Постанова НКРЕКП «Про затвердження Кодексу газорозподільних систем»
            </a>
          </li>          <li class="small-download__item">
            <a class="small-download__link" href="#" download>
              Постанова НКРЕКП «Про затвердження Ліцензійних умов провадження господарської діяльності на ринку природного газу»
            </a>
          </li>
        </ul>
      </li>

    </ul>
  </div>
</section>
