
    <section class="green-info">
      <div class="container green-info__content green-info__content--reverse">

        <div class="green-info__picture">
          <img src="img/green-info.jpg"
            alt="Ми задовольняємо Ваші потреби в електроенергії та газі максимально швидко та комфортно">
        </div>
        <div class="green-info__info">
          <h2 class="green-info__title ">Генерація зеленої енергії</h2>
          <p>Згідно Законів України “Про ринок електричної енергії” та “Про альтернативні джерела енергії”, і Постанови НКРЕКП №641 від 26.04.2019 побутові споживачі електроенергії мають можливість використовувати для власного споживання альтернативні відновлювальні джерела енергії, а надлишок згенерованої електроенергії продавати за спеціальними “зеленими” тарифами.</p>

          <p>Обов’язок викупати у побутових спожівачів надлишки згенерованої “зеленої” електроенергії покладений на постачальників універсальних послуг. На території Кіровоградської області дану функцію виконує Кіроаоградська обласна енергопостачальна компанія. </p>

        </div>
      </div>
    </section>
