<section class="small-download">
  <div class="container">
    <div class="small-download__wrap">

      <div class="small-download__container">
        <h3>
          Договірна документація
        </h3>
        <ul class="small-download__list">
          <li class="small-download__item">
            <a class="small-download__link" href="#" download>
              Договір про купівлю-продаж електроенергії, вироблену генеруючими установками приватних домогосподарств
            </a>
          </li>
          <li class="small-download__item">
            <a class="small-download__link" href="#" download>
              Заява–повідомлення
            </a>
          </li>
        </ul>
        <h3>
          Архів документації
        </h3>
        <ul class="small-download__list">
          <li class="small-download__item">
            <a class="small-download__link" href="#" download>
              Договір про купівлю-продаж електроенергії, вироблену генеруючими установками приватних домогосподарств від 21.10.2020 року
            </a>
          </li>
          <li class="small-download__item">
            <a class="small-download__link" href="#" download>
              Договір про купівлю–продаж від 10.09.2019 року
            </a>
          </li>
          <li class="small-download__item">
            <a class="small-download__link" href="#" download>
              Заява–повідомлення від 06.05.2018 року
            </a>
          </li>
        </ul>
      </div>

      <div class="small-download__container">
        <h3>
          “Зелені” тарифи
        </h3>
        <ul class="small-download__list">
          <li class="small-download__item">
            <a class="small-download__link" href="#" download>
              Кіровоградська обласна енергопостачальна компанія інформує про встановлення “зелених” тарифів на електричну енергію, вироблену генеруючими установками приватних домогосподарств, затверджених постановою НКРЕКП від ___ року №___:
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
