<header class="header">
  <div class="header__menu">

    <div class="header-top">
      <div class="container">
        <ul class="header-top__switch switch">
          <li class="switch__item"><a class="switch__link switch__link--active" href="#">для дому</a></li>
          <li class="switch__item"><a class="switch__link" href="#">для бізнесу</a></li>
          <li class="switch__item"><a class="switch__link" href="#">для агентів</a></li>
        </ul>
      </div>
    </div>

    <div class="overlay"></div>
    <div class="header-bottom">
      <div class="container header__container">

        <a class="logo" href="/">
          <img class="logo__img" src="img/svg/logo.svg"
            alt="Сайт Кіровоградської областної енергопостачальної компанії | Головна сторінка">
        </a>

        <nav class="nav header__nav">
          <ul class="nav__list">
            <li class="nav__item nav__item--mobile"><a href="index.html" class="nav__link">Головна</a></li>

            <li class="nav__item">
              <a href="" class="nav__link nav__link--drop">Електроенергія</a>
              <ul class="nav__list nav__list--dropdown dropdown-list">
                <li class="dropdown-list__item mobile-back">
                  <a href="" class="dropdown-list__link mobile-back__link">Назад</a>
                </li>
                <li class="dropdown-list__item"><a href="contract-for-home.html" class="dropdown-list__link">Укласти
                    договір</a>
                </li>
                <li class="dropdown-list__item"><a href="pricing-for-home.html" class="dropdown-list__link">Тарифи</a>
                </li>
                <li class="dropdown-list__item"><a href="paymet-electricity-for-home.html"
                    class="dropdown-list__link">Оплата</a></li>
                <li class="dropdown-list__item"><a href="transmission-el-meter-for-home.html"
                    class="dropdown-list__link">Передати показники</a></li>
                <li class="dropdown-list__item"><a href="green-for-home.html" class="dropdown-list__link">"Зелена"
                    енергія</a></li>
                <li class="dropdown-list__item"><a href="" class="dropdown-list__link">Про ринок електроенергії</a>
                </li>
              </ul>
            </li>

            <li class="nav__item">
              <a href="" class="nav__link nav__link--drop">Газ</a>
              <ul class="nav__list nav__list--dropdown dropdown-list">
                <li class="dropdown-list__item mobile-back">
                  <a href="" class="dropdown-list__link mobile-back__link">Назад</a>
                </li>
                <li class="dropdown-list__item"><a href="" class="dropdown-list__link">Споживачам</a></li>
                <li class="dropdown-list__item"><a href="gas-regulation.html" class="dropdown-list__link">Нормативні документи</a></li>
              </ul>
            </li>

            <li class="nav__item">
              <a href="" class="nav__link nav__link--drop">Підтримка клієнтів</a>
              <ul class="nav__list nav__list--dropdown dropdown-list">
                <li class="dropdown-list__item mobile-back">
                  <a href="" class="dropdown-list__link mobile-back__link">Назад</a>
                </li>
                <li class="dropdown-list__item"><a href="power-recovery.html" class="dropdown-list__link">Відновлення
                    електропостячання</a></li>
                <li class="dropdown-list__item"><a href="faq-for-home.html" class="dropdown-list__link">Часті
                    питання</a></li>
                <li class="dropdown-list__item"><a href="cabinet-for-home.html" class="dropdown-list__link">Особистий кабінет</a></li>
                <li class="dropdown-list__item"><a href="mobile-app.html" class="dropdown-list__link">Мобільний додаток</a></li>
                <li class="dropdown-list__item"><a href="" class="dropdown-list__link">Контакти ЦОС</a></li>
                <li class="dropdown-list__item"><a href="contacts-osr.html" class="dropdown-list__link">Контакти ОСР</a></li>
                <li class="dropdown-list__item"><a href="call-centre.html" class="dropdown-list__link">Кол-Центр</a></li>
                <li class="dropdown-list__item"><a href="electrical-safety.html" class="dropdown-list__link">Електробезпека</a></li>
              </ul>
            </li>

            <li class="nav__item"><a href="energy-efficiency.html" class="nav__link-active">Енергоефективність</a></li>

            <li class="nav__item">
              <a href="" class="nav__link nav__link--drop">Про компанію</a>
              <ul class="nav__list nav__list--dropdown dropdown-list">
                <li class="dropdown-list__item mobile-back">
                  <a href="" class="dropdown-list__link mobile-back__link">Назад</a>
                </li>
                <li class="dropdown-list__item"><a href="about-company.html" class="dropdown-list__link">Інформація</a></li>
                <li class="dropdown-list__item"><a href="" class="dropdown-list__link">Новини</a></li>
              </ul>
            </li>

            <li class="nav__item"><a href="#" class="nav__link-active">Контакти</a></li>
          </ul>
        </nav>

        <button class="burger" aria-label="Открыть меню">
          <span></span>
        </button>

        <div class="nav-secondary__button">
          <a class="nav-secondary__cabinet-link" href="#">Особистий кабінет</a>
        </div>


      </div>
    </div>
  </div>
</header>
