
    <section class="info">
      <div class="container info__content info__content--reverse">
        <h2 class="info__title visually-hidden">Meet needs</h2>
        <div class="info__picture">
          <img src="img/meet-needs-home.jpg"
            alt="Ми задовольняємо Ваші потреби в електроенергії та газі максимально швидко та комфортно">
        </div>
        <div class="info__info info__info-bold">
          <p>Ми задовольняємо Ваші потреби в електроенергії та газі максимально швидко та комфортно</p>
          <a class="info__link" href="#">хочете дізнатися бшльше?</a>
        </div>
      </div>
    </section>
