
    <div class="element public">
      <div class="container public__content public__content--reverse">
        <div class="public__picture">
          <img src="img/meet-needs-home.jpg"
            alt="Ми задовольняємо Ваші потреби в електроенергії та газі максимально швидко та комфортно">
        </div>
        <div class="public__info">
          <p>Ми задовольняємо Ваші потреби в електроенергії та газі максимально швидко та комфортно</p>
          <a class="public__link" href="#">хочете дізнатися бшльше?</a>
        </div>
      </div>
    </div>
