<section class="dg-services dg-services--light">
  <div class="container">



    <div class="dg-services__container">

      <div class="dg-services__picture-wrap">
        <div class="dg-services__picture">
          <img src="img/dg-services/iPhone.png" alt="зображення додатку" width="377" height="734">
        </div>
        <div class="dg-services__label dg-services__label--orange">
          
        </div>
        <div class="dg-services__label dg-services__label--blue"></div>
      </div>

      <div class="dg-services__content">

        <h2 class="dg-services__title dg-services__title--left">Онлайн сервіси</h2>

        <p class="dg-services__descr">Цінуєте свій час та спокій?
          Мобільний додаток дозволить Вам контролювати свій особовий рахунок в будь-який час в будь-якому місці без
          зайвих зусиль та часу!
        </p>

        <div class="dg-services__link-container dg-services__link-container--services">
          <a class="dg-services__link dg-services__link--google" href="#">
            <img class="dg-services__img" src="img/dg-services/google_play.svg" alt="посилання на google play">
          </a>
          <a class="dg-services__link dg-services__link--aple" href="#">
            <img class="dg-services__img" src="img/dg-services/app_store.svg" alt="посилання на app store">
          </a>
        </div>

        <div class="dg-services__qr-codes">
          <div class="dg-services__bot">
            <div class="dg-services__qr">
              <img class="dg-services__qr-img" src="img/dg-services/qr-mobile-app.svg" alt="qr код telegram боту">
            </div>
            <div class="dg-services__qr-text">
              <p class="dg-services__qr-descr">QR</p>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
</section>
