<section class="mobile-app-scope">
  <div class="container">
    <h2 class="title mobile-app-scope__title">Ваші можливості з мобільним додатком</h2>

    <ul class="list-reset mobile-app-scope__list">
      <li class="mobile-app-scope__item mobile-app-scope__item--add-account">
        <p class="mobile-app-scope__descr">
          Можливість додавати необмежену кількість особових рахунків
        </p>
      </li>
      <li class="mobile-app-scope__item mobile-app-scope__item--online-payment">
        <p class="mobile-app-scope__descr">
          Оплата за електроенергію онлайн
        </p>
      </li>
      <li class="mobile-app-scope__item mobile-app-scope__item--show-balance">
        <p class="mobile-app-scope__descr">
          Відображення поточного балансу на особовому рахунку
        </p>
      </li>
      <li class="mobile-app-scope__item mobile-app-scope__item--show-meter">
        <p class="mobile-app-scope__descr">
          Можливість передати показники лічильника до оператора системи розподілу
        </p>
      </li>
      <li class="mobile-app-scope__item mobile-app-scope__item--show-history">
        <p class="mobile-app-scope__descr">
          Відображення історії оплат
        </p>
      </li>
      </li>
      <li class="mobile-app-scope__item mobile-app-scope__item--create-bill">
        <p class="mobile-app-scope__descr">
          Можливість формувати та завантажувати рахунки для оплати
        </p>
      </li>
      </li>
      <li class="mobile-app-scope__item mobile-app-scope__item--online-revise">
        <p class="mobile-app-scope__descr">
          Можливість провести звірку розрахунків онлайн
        </p>
      </li>
    </ul>

  </div>
</section>
