<section class="dg-services dg-services--light">
  <div class="container">

    <div class="dg-services__container">

      <div class="dg-services__picture-wrap">
        <div class="dg-services__picture">
          <img src="img/dg-services/iPhone.png" alt="зображення додатку" width="377" height="734">
        </div>
        <div class="dg-services__label dg-services__label-orange">
          <img class="dg-services__label-svg" src="img/dg-services/dg-label-orange.svg" alt="#">
          <p class="dg-services__label-descr">Додавайте та контролюйте стан особового рахунку</p>
        </div>
        <div class="dg-services__label dg-services__label-blue">
          <img class="dg-services__label-svg" src="img/dg-services/dg-label-blue.svg" alt="#">
          <p class="dg-services__label-descr">Передавайте показання лічильників</p>
        </div>
      </div>

      <div class="dg-services__content">

        <h2 class="dg-services__title">Оплата за електричну енергію</h2>

        <p class="dg-services__descr">Не гайте свій час стоячи в чергах, а просто та легко, не виходячи з дому, проводьте оплату онлайн через сервіси нашої компанії:</p>

        <h3 class="dg-services__cabinet-title">Мобільний додаток</h3>

        <div class="dg-services__link-container">
          <a class="dg-services__link dg-services__link--google" href="#">
            <img class="dg-services__img" src="img/dg-services/google_play.svg"
              alt="посилання на google play">
          </a>
          <a class="dg-services__link dg-services__link--aple" href="#">
            <img class="dg-services__img" src="img/dg-services/app_store.svg"
              alt="посилання на app store">
          </a>
        </div>

        <h3 class="dg-services__cabinet-title">Ваш особистий кабінет</h3>

        <a class="dg-services__cabinet-link" href="#">Cтворити особистий запис</a>

        <div class="payments">
          <h3 class="dg-services__cabinet-title">інші платіжні системи</h3>
          <ul class="payments__list">
            <li class="payments__item">
              <a class="payments__link" href="#">
                <img class="paymants__img"  src="img/svg/pin-payment.svg" alt="pin-payment">
              </a>
            </li>
            <li class="payments__item">
              <a class="payments__link" href="#">
                <img class="paymants__img"  src="img/svg/concord-payment.svg" alt="pin-payment">
              </a>
            </li>
            <li class="payments__item">
              <a class="payments__link" href="#">
                <img class="paymants__img"  src="img/svg/intkassa-payment.svg" alt="pin-payment">
              </a>
            </li>
          </ul>
        </div>

      </div>
    </div>
  </div>
</section>
