<section class="power-recovery">
  <div class="container">
    <div class="power-recovery__title">
      <h2>Відключення за заборгованість та відновлення електропостачання</h2>
    </div>
    <div class="power-recovery__wrap">

      <div class="power-recovery__content">
        <p>Прострочення оплати за спожиту електроенергію навіть на один місяць може бути підставою для направлення
          попередження клієнту і припинення електропостачання, якщо борг не буде погашений.</p>
        <p>Відключення може призвести до певних незручностей та додаткових витрат. Піклуючись про комфорт клієнтів,
          Кіровоградська обласна енергопостачальна компанія нагадує про необхідність сплати заборгованості за спожиту
          електроенергію, а за 10 днів обов’язково попереджає про можливе відключення. </p>
        <p>Оплату за електроенергію не варто відкладати до останнього моменту, враховуючи, що кошти у банківській
          системі можуть перераховуватися протягом трьох днів.
        </p>
        <p>Для оплати заборгованості швидко та без черг, наша компанія пропонує скористатися онлайн можливостями <a
            href="#">персонального кабінету</a> чи <a href="#">мобільного додатку</a>.
        </p>
        <p>У випадку, якщо Ваше помешкання все ж таки відключили від електромережі за заборгованість, необхідно:
        </p>
      </div>

      <div class="list-container">
        <ul class="list-nomber">
          <li class="list-nomber__item list-nomber__item--one">
            Погасити існуючу заборгованість
          </li>
          <li class="list-nomber__item list-nomber__item--two">
            Звернутися із заявою про повторне підключення після відключення <span>Заяву можна подати в <a
                href="#">місцевий Центр обслуговування споживачів</a> КОЕК або <a href="#">онлайн</a> на сайті
              компанії</span>
          </li>
          <li class="list-nomber__item list-nomber__item--three">
            Оплатити витрати послуги відключення та за повторне підключення <span>Після оплати рахунку необхідно
              повторно звернутися в місцевий <a href="#">Центр обслуговування споживачів</a> КОЕК або <a
                href="#">онлайн</a> на сайті компанії</span>
          </li>
          <li class="list-nomber__item list-nomber__item--four">
            Чекати підключення
            <span>Підключення здійснюється протягом 3 днів у містах та 7 днів у сільській місцевості.
            </span>
          </li>
        </ul>
      </div>

    </div>
  </div>
</section>
