<section class="price-arch">
  <div class="container price-arch__container">

    <h2 class="title price-arch__title">Архів тарифів</h2>

    <ul class="small-download__wrap">

      <li class="small-download__container small-download__container--light">
        <ul class="small-download__list">
          <li class="small-download__item">
            <a class="small-download__link" href="#" download>
              Базовий тариф для населення
            </a>
          </li>
          <li class="small-download__item">
            <a class="small-download__link" href="#" download>
              Тариф для багатодітних сімей та гуртожитків
            </a>
          </li>
        </ul>
      </li>

      <li class="small-download__container small-download__container--light">
        <ul class="small-download__list">
          <li class="small-download__item">
            <a class="small-download__link" href="#" download>
              Тариф для будинків з електроопаленням
            </a>
          </li>
        </ul>
      </li>

    </ul>
  </div>
</section>
