<section class="transmission-el-meter-home">
  <div class="container">

    <h2 class="transmission-el-meter-home__title">Передача показників за електричну енергію</h2>

    <div class="transmission-el-meter-home__wrap">

      <div class="transmission-el-meter-home__info">

        <div class="transmission-el-meter-home__info-wrap">
          <p>Показники лічильника побутовим споживачем електроенергії передаються кожного місяця оператору системи
            розподілу, до мереж якого підключені електроустановки.</p>
          <p>Відповідно до п. 8.6.3 «Кодексу комерційного обліку електричної енергії»: зчитані та передані дані з
            лічильників протягом періоду, що починається за два календарні дні до кінця розрахункового місяця та
            закінчується на третій календарний день наступного розрахункового періоду (календарного місяця), вважаються
            даними на перше число календарного місяця.
          </p>
        </div>

        <div class="small-download__container small-download__container--light">
          <div class="small-download__title-wrap">
          <h3 class="small-download__title--mini">Скористайтеся можливостями, що надають відповідні оператори систем розподілу на території Кіровоградської
            області:
          </h3>
        </div>
          <ul class="small-download__list">
            <li class="small-download__item">
              <a class="small-download__link" href=" https://kiroe.com.ua/peredacha-pokaziv-lichilnika" download>
                ПрАТ «Кіровоградобленерго»: https://kiroe.com.ua/peredacha-pokaziv-lichilnika
              </a>
            </li>
            <li class="small-download__item">
              <a class="small-download__link" href="https://www.poe.pl.ua/peredacha-pokaziv" download>
                АТ «Полтаваобленерго»: https://www.poe.pl.ua/peredacha-pokaziv
              </a>
            </li>
          </ul>
        </div>
      </div>


    <div class="dg-services__content">
      <p class="dg-services__descr">З допомогою наших онлайн сервісів Ви можете контролювати стан особового
        рахунку, передавати показники, оплачувати за спожиту електроенергію, укладати договори та отримувати акти
        звірки
      </p>

      <h3 class="dg-services__cabinet-title">Мобільний додаток</h3>

      <div class="dg-services__link-container">
        <a class="dg-services__link dg-services__link-trans-el" href="#">
          <img class="dg-services__img" src="img/dg-services/google_play.svg"
            alt="посилання на google play">
        </a>
        <a class="dg-services__link dg-services__link-trans-el" href="#">
          <img class="dg-services__img" src="img/dg-services/app_store.svg"
            alt="посилання на app store">
        </a>
      </div>

      <h3 class="dg-services__cabinet-title">Ваш особистий кабінет</h3>

      <a class="dg-services__cabinet-link" href="#">Cтворити особистий запис</a>

      <div class="dg-services__qr-codes">
        <div class="dg-services__bot">
          <div class="dg-services__qr">
            <img class="dg-services__qr-img" src="img/dg-services/qr-telegram.svg" alt="qr код telegram боту">
          </div>
          <div class="dg-services__qr-text">
            <p class="dg-services__qr-descr">Telegram бот</p>
          </div>
        </div>
        <div class="dg-services__bot">
          <div class="dg-services__qr">
            <img class="dg-services__qr-img" src="img/dg-services/qr-viber.svg" alt="qr код viber боту">
          </div>
          <div class="dg-services__qr-text">
            <p class="dg-services__qr-descr">Viber бот</p>
          </div>
        </div>
      </div>

    </div>
  </div>
  </div>
</section>
